<%=image_tag("DHRHSLogo.png")%>
<h2>Patient Satisfaction Survey</h2>

  <h4>
    Please answer the questions below, indicating whether you were: unhappy, neutral, happy.
  </h4>

    <p>
      1. Courtesy of staff who admitted you?
    </p>

    <p>
       2. Room cleanliness?
    </p>

    <p>
      3. Noise level in and around your room?
    </p>

    <p>
      4. Quality of food?
    </p>

    <p>
      5. Friendliness/courtesy of nurses?
    </p>

  <h4>
    Please provide your contact information below:
  </h4>

    <p>
      First Name:
    </p>

    <p>
      Last Name:
    </p>

    <p>
      Phone Number:
    </p>
